name: Build and Release

on:
  push:
    tags:
      - "v*"

jobs:
  build-and-release:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "8.0.x"

      - name: Restore
        run: dotnet restore ./FrontitudeToResxXlsx/FrontitudeToResxXlsx.csproj

      - name: Build
        run: dotnet build ./FrontitudeToResxXlsx/FrontitudeToResxXlsx.csproj -c Release --no-restore

      - name: Publish
        run: dotnet publish ./FrontitudeToResxXlsx/FrontitudeToResxXlsx.csproj -c Release -o out --no-build

      - name: Create GitHub Release and upload artifacts
        uses: softprops/action-gh-release@v2
        with:
          files: |
            out/**/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
